Source: python-treq
Section: python
Priority: extra
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>= 8.0.0), dh-python,
 python-all (>= 2.7), python-setuptools, python-twisted, python-mock
Standards-Version: 3.9.2
Homepage: https://github.com/twisted/treq
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: python-treq
Architecture: all
Depends: ${python:Depends} ${misc:Depends}
Description: Python requests like API built on top of Twisted's HTTP client.
